*, .footer {
    font-family: 'Concert One','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track {
    border-radius: 35px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 35px;
    background-color: #A5C7A1;
}


.header {
    background-color: #A5C7A1;
    width: 100%;
    height: 5rem;
}

.header_nav {
    height: 100%;
    margin: 0 3rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link_logo {
    text-decoration: none;
}

.header_logo {
    height: 4.5rem;
}

.header_hamburger {
    padding: 0;
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #FFFFFF;
    cursor: pointer;
}
  
.header_hamburger::after,
.header_hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.header_menu{
    font-family: 'Concert One','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 20rem;
    justify-content: space-between;
}

.header_menu_link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: .5rem;
}

.header_menu_link:hover {
    transition: 500ms;
    background-color: #aaaaaa75;
    color: #e2e2e2;
    border-radius: 10px;
}

.main {
    width: 100%;
    height: calc(100vh - 5rem);
    min-height: calc(575px - 5rem);
    background-color: #DAE8D8;;
    --size: 20px;
    /*
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.678) 15%, transparent 15%, transparent 100%),
        radial-gradient(circle, rgba(255, 255, 255, 0.678) 15%, transparent 15%, transparent 100%);
    */
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.678) 15%, transparent 15%, transparent 100%);
    background-size: var(--size) var(--size);
    background-position: 0 0, calc(var(--size)/2) calc(var(--size)/2);
}

.main_container {
    height: 100%;
}

.main_titulo {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.main_content {
    height: calc(100% - 12rem);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lista_cursos {
    color: #FFFFFF;
    background-color: #9FC8AA;
    padding: 2rem;
    border-radius: 1rem;
}

.lista_cursos_item {
    font-size: 1.9rem;
    padding: .25rem;
}

.main_imagem {
    height: 100%;
}

.contato {
    max-width: 100%;
    margin: 2rem 0 2rem 0;
    background-color: #FEFDFC;
    font-size: 1.2rem;
}

.contato_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.endereco_paragrafo {
    margin: .5rem;
}

.parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parceiro_lista {
    border: 0 3rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.parceiro_imagem {
    height: 4rem;
    border: solid 2px #9FC8AA;
    border-radius: 50%;
}

.paceiro_link:hover {
    transition: 1s;
    filter: blur(.8px);
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.redes_sociais_lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.rede_link {
    color: #000000;
    font-size: 2.5rem;
}

.fa-facebook:hover {
    transition: 1s;
    color: rgb(60, 132, 240);
}

.fa-instagram:hover {
    transition: 1s;
    color: rgb(245, 20, 200);
}

.fa-whatsapp:hover {
    transition: 1s;
    color: rgb(70, 255, 0);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9FC8AA;
    height: 5rem;
    color: #FFFFFF;
}

@media screen and (max-width: 890px) {
    .header_hamburger {
        display: block;
        z-index: 1;
    }
    .menu {
        position: fixed;
    }
    .header_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #A5C7A1;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .header_menu_link {
        font-size: 1.7rem;
        opacity: 0;
    }

    .header_menu li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }
    .header_menu li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .header_menu li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }
    .header_menu li:nth-child(4) a{
        transition: 0.5s 0.8s;
    }

    .header_nav.active .header_menu {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .header_nav.active .header_menu_link {
        opacity: 1;
    }
    .header_nav.active .header_hamburger {
        position: fixed;
        top: 33px;
        right: 50px;
        border-top-color: transparent;
    }
    .header_nav.active .header_hamburger::before {
        transform: rotate(135deg);
    }
    .header_nav.active .header_hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .main_titulo{
        font-size: 1.5rem;
    }
    .lista_cursos_item{
        font-size: 1.5rem;
    }
    .main_imagem {
        display: none;
    }

    .contato {
        font-size: 1rem;
    }
    .endereco {
        width: 100%;
        padding: 0 2%;
        text-align: center;
    }

    .footer_paragrafo {
        font-size: .85rem;
    }
}

@media screen and (max-width: 425px) {
    .endereco {
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 380px) {
    .lista_cursos {
        padding: .9rem;
    }
    .lista_cursos_item {
        font-size: 1.3rem;
    }
    .footer_paragrafo {
        font-size: .7rem;
    }
}